img{
    width:100%;
}

.video-player {
    -webkit-filter: drop-shadow(8px 8px 10px gray); /* Safari */
    filter: drop-shadow(8px 8px 10px gray);
}

.active-video-player {
    -webkit-filter: sepia(100%); /* Safari */
    filter: sepia(100%);
}