 <!--Page Title-->
<section class="page-title" style="background-image:url(images/background/about-us-bg.jpg);">
    <div class="auto-container">
        <div>
            <h1>About Us</h1>
            <div class="bread-crumb"><a href="index.html">Home</a> / <a href="#" class="current">About Us</a></div>
        </div>
    </div>
</section>

<!--About Section-->
<section class="about-section">
    <div class="auto-container">

        <!--Section Title-->
        <div class="sec-title">
            <h2>WELCOME TO <strong>Diagonal Infra India Pvt Ltd</strong></h2>
            <div class="separator small-separator"></div>
            <div class="text"><p>Launched on 23 february 2015, Diagonal Infra India Pvt ltd is carrying out major projects such as Baba Institute of Engineering and Technology and Lotus Heights venture with highly skilled proffessional team. </p></div>
        </div>


        <div class="services-outer">
            <div class="row clearfix">

                <!--Column-->
                <article class="col-md-4 col-sm-6 col-xs-12 column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="icon-left"><span class="icon fa fa-eye"></span><span class="number">1</span></div>
                        <div class="content">
                            <h3>Our Vision</h3>
                            <p>Delivering trustworthy experiences that you cherish for a lifetime.Achieving extraordinary results for our customers, building satisfying careers for our people, and earning a fair return on the value we deliver.</p>
                        </div>
                    </div>
                </article>

                <!--Column-->
                <article class="col-md-4 col-sm-6 col-xs-12 column wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="icon-left"><span class="icon fa fa-rocket"></span><span class="number">2</span></div>
                        <div class="content">
                            <h3>Our Mission</h3>
                            <p>To be the first choice for our consumers and partners in their journey of renting,buying and construction services. We do that with data, design, technology, and above all the passion of our people, while delivering value to our shareholders.</p>
                        </div>
                    </div>
                </article>

                <!--Column-->
                <article class="col-md-4 col-sm-6 col-xs-12 column wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="icon-left"><span class="icon fa fa-users"></span><span class="number">3</span></div>
                        <div class="content">
                            <h3>Our Values</h3>
                            <p>We are uncompromising in our integrity, honesty, and fairness.We are relentless in keeping people safe from harm, and we provide a healthy work environment.We are passionate about excellence and doing our work right the first time.</p>
                        </div>
                    </div>
                </article>


            </div>
        </div>

    </div>
</section>