<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/hdcontactusbanner.jpg);height:220px">
    <div class="auto-container">
        <div>

            <div class="bread-crumb"></div>
        </div>
    </div>
</section>



<!--Info Section-->
<section class="info-section contact-section">
    <div class="auto-container">
        <h2>It’s Easy to Find Us</h2>

        <!--Contact Info-->
        <div class="contact-info">
            <div class="row clearfix">
                <!--Column-->
                <div class="column col-md-4 col-sm-6 col-xs-12">
                    <span class="icon flaticon-location74"></span>
                    <h3>ADDRESS</h3>
                    <p>
                        Diagonal Infra India Pvt.ltd.
                        <br />#53-23-3/3/2,
                        <br />Flat no.201,
                        <br />J.S.R. Residency ,
                        <br />Near Kinnera Theatre ,
                        <br />Chaitanya Nagar,
                        <br />Maddilapalem,Visakhapatnam-530013
                    </p>
                </div>
                <!--Column-->
                <div class="column col-md-4 col-sm-6 col-xs-12">
                    <span class="icon flaticon-telephone51"></span>
                    <h3>PHONE</h3>
                    <p>+91-9000531616, +91-9346705848</p>
                </div>
                <!--Column-->
                <div class="column col-md-4 col-sm-6 col-xs-12">
                    <span class="icon flaticon-envelope126"></span>
                    <h3>EMAIL</h3>
                    <p>diagonalinfraindiapvtltd@gmail.com</p>
                </div>

            </div>
        </div>

    </div>
</section>



<!--Map Section-->
<section class="map-section" ng-init="init()">
    <div class="map-container" id="map-location"></div>
</section>

<!--Contact Section-->
<section class="default-section faded-section contact-section" style="background-image:url(images/background/contact-bg.jpg);">
    <div class="auto-container small-container">
        <div class="sec-title">
            <h2>Contact Form</h2>
            <div class="text"><p>Please do conatct us in case of any queries. We would be happy to help.</p></div>
        </div>
        <!--Contact Form-->
        <div class="column contact-form">
            <form action="mailto:info@diagonalinfra.com" method="post" enctype="text/plain">
                <div class="row clearfix">
                    <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                        <input type="text" name="Name" value="" placeholder="Name" required>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                        <input type="text" name="Phone" value="" placeholder="Phone" required>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                        <input type="email" name="Email" value="" placeholder="Email" required>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <input type="text" name="Subject" value="" placeholder="Subject" required>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <textarea name="Message" placeholder="Message" required></textarea>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group text-center">
                        <button type="submit" class="theme-btn btn-style-one">Send</button>
                        <button type="reset" name="Reset" class="theme-btn">Reset</button>
                    </div>
                </div>
            </form>
        </div>   
    </div>
</section>