<!--Page Title-->
<section style="padding-top:55px">
    <div class="auto-container">
        <div class="sec-title">
            <div class="text"><p>On going Project Brouchers</p></div>
        </div>
    </div>
</section>

<!--Info Section-->

<section class="info-section" style="padding-top:4px">
    <div class="images-container auto-container">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-6 col-xs-12 image-box">
                <div class="inner-box">
                    <figure class="image"><img src="images/gallery/ebrouchers/LotusBrochure1.jpg" alt=""></figure><br />
                    <a href="images/gallery/ebrouchers/Dia.Lotusheights.pdf" download="Dia.Lotusheights.pdf" class="btn-style-one">Download</a>
                </div>
            </div>


            <div class="col-md-6 col-sm-6 col-xs-12 image-box">
                <div class="inner-box">
                    <figure class="image"><img src="images/gallery/ebrouchers/LotusBrochure2.jpg" alt=""></figure><br />
                    <a href="images/gallery/ebrouchers/Lotusheightbrochure.pdf" download="Lotusheightbrochure.pdf" class="btn-style-one">Download</a>
                </div>
            </div>

        </div>
    </div>
</section>