<!--Page Title-->
<section>
    <div class="auto-container">
        <div>
            <h1>On Going Project Brouchers</h1>
        </div>
    </div>
</section>

<!--Info Section-->

<section class="info-section">
    <div class="images-container auto-container">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-6 col-xs-12 image-box">
                <div class="inner-box">
                    <figure class="image"><img src="images/gallery/ebrouchers/LotusBrochure1.jpg" alt=""></figure><br />
                    <a href="images/gallery/ebrouchers/Dia.Lotusheights.pdf" download="Dia.Lotusheights.pdf" class="btn-style-one">Download</a>
                </div>
            </div>


            <div class="col-md-6 col-sm-6 col-xs-12 image-box">
                <div class="inner-box">
                    <figure class="image"><img src="images/gallery/ebrouchers/LotusBrochure2.jpg" alt=""></figure><br />
                    <a href="images/gallery/ebrouchers/Lotusheightbrochure.pdf" download="Lotusheightbrochure.pdf" class="btn-style-one">Download</a>
                </div>
            </div>

        </div>
    </div>
</section>