<section class="page-title" style="background-image:url(images/background/Services.jpg);">
    <div class="auto-container">
        <div>
            <h1>Services</h1>
            
        </div>
    </div>
</section>
<br /><br />
<!--Services Content-->

<div class="auto-container">
    <div class="services-outer">
        <div class="row clearfix">


            <article class="col-md-12 col-sm-12 col-xs-12 column wow fadeInLeft">
                <div class="inner-box">
                    <div class="icon-left"><span class="icon flaticon-building104"></span></div>
                    <div class="content">
                        <h3>Construction Services</h3>
                        <p>Our high skilled team of professionals provide best construction services with quality structures and architecture.</p>
                        <div class="row clearfix">
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                <!--Styled List-->
                                <ul class="styled-list">
                                    <li>Our Structures Partner</li>
                                </ul>
                                <p>
                                    Sri Harsha Consulting Engineers Pvt.Ltd
                                    <br />Plot No. 14, Pent House(MIG), Sector-8,
                                    <br />MVP Colony, Near TTD Kalyana Mandapam,
                                    <br />Visakhapatnam-530017, A.P., INDIA.
                                    <br />Cell: 9866677765, E-mail: shpl.vizag@gmail.com

                                </p>

                            </div>
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                <!--Styled List-->
                                <ul class="styled-list">
                                    <li>Our Architects</li>
                                </ul>
                                <p>
                                    Arigin Dzyns Architecture & Interior Design
                                    <br />D.No: 32-6-14D, 4th Floor, K-Towers
                                    <br />Thummala Narayana Rao Street,
                                    <br />Praja Shakthi Nagar, Mogalraj Puram,
                                    <br />Vijayawada-10
                                    <br />Cell:+91 9959 148 333, E-mail: arigindzyns@gmail.com

                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row clearfix">
            <article class="col-md-12 col-sm-12 col-xs-12 column wow fadeInLeft">
                <div class="inner-box">
                    <div class="icon-left"><span class="icon flaticon-home168"></span></div>
                    <div class="content">
                        <h3>Residential Services</h3>
                        <p>We provide sophisticated residencies of quality construction with salient features as below:</p>
                        <div class="row clearfix">
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                <!--Styled List-->
                                <ul class="styled-list">
                                    <li>Adequate water supply</li>
                                    <li>Ample car paking</li>
                                    <li>100% Vastu</li>
                                    <li>Excellent Ventilation</li>
                                    <li>Power back up generator</li>
                                    <li>Ideal location</li>
                                    <li>No Common Walls</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>


    </div>
</div>