<!--Testimonials-->
<section class="testimonials-section" style="background-image:url(images/background/Testimonial.png);" ng-init="init()">
    <div class="auto-container">

        <div class="sec-title">
            <h2>WHAT <span class="theme_color">CLIENT</span> SAY</h2>
            <div class="separator small-separator"></div>
            <div class="text"><p></p></div>
        </div>

        <!--Slider-->
        <div class="testimonials-slider column-carousel three-column">

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/user.png" alt=""></figure>
                <div class="info-box">
                    <h3>Chandrasekhar</h3>
                    <p class="designation">Software Employee</p>
                </div>

                <div class="slide-text">
                    <p>“I made my dream come true with Diagonal Infra.Thier team turned my dream of buying home into relaity within shot span. ”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/user.png" alt=""></figure>
                <div class="info-box">
                    <h3>Padma</h3>
                    <p class="designation">Employee</p>
                </div>

                <div class="slide-text">
                    <p>"I was looking for a flat and Diagonal Infra helped me get one smoothly."</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/user.png" alt=""></figure>
                <div class="info-box">
                    <h3>Harish</h3>
                    <p class="designation">Profeessional</p>
                </div>

                <div class="slide-text">
                    <p>“The website helped me to get my property easily.I could not onlt choose a property but also could check what others said.The site is simple and user friendly.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/user.png" alt=""></figure>
                <div class="info-box">
                    <h3>Abhishek</h3>
                    <p class="designation">Sales Manager</p>
                </div>

                <div class="slide-text">
                    <p>“Diagonal Infra made my life easy.It helped with the search of my first ever investment i.e., 1BHK apartment.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/user.png" alt=""></figure>
                <div class="info-box">
                    <h3>Manoj</h3>
                    <p class="designation">Employee</p>
                </div>

                <div class="slide-text">
                    <p>“Thanks to the Diagonal Infra team for providing relevant information about the properties.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/user.png" alt=""></figure>
                <div class="info-box">
                    <h3>Vishnu</h3>
                    <p class="designation">Young Proffessional</p>
                </div>

                <div class="slide-text">
                    <p>“Diagonal Infra helped in shortlistng for buying a property.I learned what prperty would cost me how much.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/user.png" alt=""></figure>
                <div class="info-box">
                    <h3>Madhulatha</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>

                <div class="slide-text">
                    <p>“The constant touch through other true calls really helped me in buying my dream property.Thanks to Diagonal infra services.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/user.png" alt=""></figure>
                <div class="info-box">
                    <h3>Archana</h3>
                    <p class="designation">Photographer</p>
                </div>

                <div class="slide-text">
                    <p>“Thanks to Diagonal Infra Pvt Ltd.The site helped me a lot with all the relevant information for buying a home.”</p>
                </div>
            </article>


        </div>

    </div>
</section>