<!--Testimonials-->

<section class="testimonials-section" style="background-image:url(images/background/Testimonial.png);" ng-init="init()">
    <div class="auto-container">

        <div class="sec-title">
            <h2>WHAT <span class="theme_color">CLIENT</span> SAY</h2>
            <div class="separator small-separator"></div>
            <div class="text"><p></p></div>
        </div>

        <!--Slider-->
        <div class="testimonials-slider column-carousel three-column">

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/testimonials/satishponnana.jpg" alt=""></figure>
                <div class="info-box">
                    <h3>Satish</h3>
                    <p class="designation">HR</p>
                </div>

                <div class="slide-text">
                    <p>“I made my dream come true with Diagonal Infra.Their team turned my dream of buying home into reality within short span. ”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/testimonials/b.p.naidu.jpg" alt=""></figure>
                <div class="info-box">
                    <h3>Naidu</h3>
                    <p class="designation">Employee</p>
                </div>

                <div class="slide-text">
                    <p>"I was looking for a flat and Diagonal Infra helped me get one smoothly."</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/testimonials/chandu1.jpg" alt=""></figure>
                <div class="info-box">
                    <h3>Chandrasekhar</h3>
                    <p class="designation">Software Employee</p>
                </div>

                <div class="slide-text">
                    <p>“The website helped me to get my property easily.I could not only choose a property but also could check what others said.The site is simple and user friendly.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/testimonials/kankraju.jpg" alt=""></figure>
                <div class="info-box">
                    <h3>Kanakaraju</h3>
                    <p class="designation">Sales Manager</p>
                </div>

                <div class="slide-text">
                    <p>“Diagonal Infra made my life easy.It helped with the search of my first ever investment i.e., 1BHK apartment.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/testimonials/harish.jpg" alt=""></figure>
                <div class="info-box">
                    <h3>Harish</h3>
                    <p class="designation">Employee</p>
                </div>

                <div class="slide-text">
                    <p>“Thanks to the Diagonal Infra team for providing relevant information about the properties.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/testimonials/joshi.jpg" alt=""></figure>
                <div class="info-box">
                    <h3>Pruthvi</h3>
                    <p class="designation">Young Professional</p>
                </div>

                <div class="slide-text">
                    <p>“Diagonal Infra helped in shortlisting for buying a property.I learned what property would cost me how much.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/testimonials/sandeep.jpg" alt=""></figure>
                <div class="info-box">
                    <h3>Sandeep</h3>
                    <p class="designation">MD</p>
                </div>

                <div class="slide-text">
                    <p>“The constant touch through other true calls really helped me in buying my dream property.Thanks to Diagonal infra services.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img src="images/testimonials/raju1.jpg" alt=""></figure>
                <div class="info-box">
                    <h3>Raju</h3>
                    <p class="designation">Photographer</p>
                </div>

                <div class="slide-text">
                    <p>“Thanks to Diagonal Infra Pvt Ltd.The site helped me a lot with all the relevant information for buying a home.”</p>
                </div>
            </article>


        </div>

    </div>
</section>