    <!--Gallery Section-->
<section class="gallery-section full-width" id="gallery-section" ng-init="init()">
    <div class="auto-container">

        <!--Section Title-->
        <div class="sec-title">
            <div class="text"><p>Here's a glimpse of some of our prestigious projects.</p></div>
        </div>

        <!--Filter-->
        <div class="filters">
            <ul class="filter-tabs clearfix anim-3-all">
                <li class="filter" data-role="button" data-filter="all">All</li>
                <li class="filter" data-role="button" data-filter=".lotus">Lotus heights</li>
                <li class="filter" data-role="button" data-filter=".bits">Baba Institute of technology and Science</li>

            </ul>
        </div>

    </div>

    <div class="images-container">
        <div class="filter-list clearfix">

            <!--Image Box-->
            <div class="image-box mix mix_all lotus">
                <div class="inner-box">
                    <figure class="image"><a href="../images/gallery/LotusHeights/LotusConstruction1.JPG" class="lightbox-image"><img src="../images/gallery/LotusHeights/LotusConstruction1.JPG" alt=""></a></figure>
                    <a href="../images/gallery/LotusHeights/LotusConstruction1.JPG" class="zoom-btn lightbox-image"><span class="icon flaticon-add30"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box mix mix_all lotus">
                <div class="inner-box">
                    <figure class="image"><a href="../images/gallery/LotusHeights/Lotus.JPG" class="lightbox-image"><img src="../images/gallery/LotusHeights/Lotus.JPG" alt=""></a></figure>
                    <a href="../images/gallery/LotusHeights/Lotus.JPG" class="zoom-btn lightbox-image"><span class="icon flaticon-add30"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box mix mix_all lotus">
                <div class="inner-box">
                    <figure class="image"><a href="../images/gallery/LotusHeights/LotusConstruction3.JPG" class="lightbox-image"><img src="../images/gallery/LotusHeights/LotusConstruction3.JPG" alt=""></a></figure>
                    <a href="../images/gallery/LotusHeights/LotusConstruction3.JPG" class="zoom-btn lightbox-image"><span class="icon flaticon-add30"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box mix mix_all lotus">
                <div class="inner-box">
                    <figure class="image"><a href="../images/gallery/LotusHeights/LotusInterior1.JPG" class="lightbox-image"><img src="../images/gallery/LotusHeights/LotusInterior1.JPG" alt=""></a></figure>
                    <a href="../images/gallery/LotusHeights/LotusInterior1.JPG" class="zoom-btn lightbox-image"><span class="icon flaticon-add30"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box mix mix_all bits">
                <div class="inner-box">
                    <figure class="image"><a href="../images/gallery/Bits/BITSouter1.JPG" class="lightbox-image"><img src="../images/gallery/Bits/BITSouter1.JPG" alt=""></a></figure>
                    <a href="../images/gallery/Bits/BITSouter1.JPG" class="zoom-btn lightbox-image"><span class="icon flaticon-add30"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box mix mix_all bits">
                <div class="inner-box">
                    <figure class="image"><a href="../images/gallery/Bits/Bits2.JPG" class="lightbox-image"><img src="../images/gallery/Bits/Bits2.JPG" alt=""></a></figure>
                    <a href="../images/gallery/Bits/Bits2.JPG" class="zoom-btn lightbox-image"><span class="icon flaticon-add30"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box mix mix_all bits">
                <div class="inner-box">
                    <figure class="image"><a href="../images/gallery/Bits/Bits6.JPG" class="lightbox-image"><img src="../images/gallery/Bits/Bits6.JPG" alt=""></a></figure>
                    <a href="../images/gallery/Bits/Bits6.JPG" class="zoom-btn lightbox-image"><span class="icon flaticon-add30"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box mix mix_all bits">
                <div class="inner-box">
                    <figure class="image"><a href="../images/gallery/Bits/Bits7.JPG" class="lightbox-image"><img src="../images/gallery/Bits/Bits7.JPG" alt=""></a></figure>
                    <a href="../images/gallery/Bits/Bits7.JPG" class="zoom-btn lightbox-image"><span class="icon flaticon-add30"></span></a>
                </div>
            </div>

        </div>
    </div>


</section>